---
import Project from "./Project.astro";
import SectionWrapper from "./SectionWrapper.astro";
const { section, title, allProjects } = Astro.props;
---

<SectionWrapper {section} {title}>
  <div class='projects-container'>
    <!-- for each project, return a card displaying project name, image, and description -->

    <!-- {allProjects.map(({frontmatter: { projectName, shortDescription }}) => <Project {projectName} {shortDescription} />)}   -->

    {
      allProjects.map((project) => (
        <Project
          projectName={project.frontmatter.projectName}
          shortDescription={project.frontmatter.shortDescription}
          url={project.url}
        />
      ))
    }
  </div>
</SectionWrapper>
